.logo{
    width: 170px;
    height: 100px;
    cursor: pointer;
}

header{
    background-color: #EEB600;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li, a {
    font-weight: 500;
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.iconsClose{
    font-size: 35px;
}

.navLinks{
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    width: 20vw;
    height: 100vh;
    background: #EEB600;
    flex-direction: column;
    padding-top: 50px;
    gap: 30px;
    justify-content: top;
    z-index: 1;
    transform: translateX(100%);
    transition: 0.5s ease;
}

@media (max-width:768px){
    .logo{
        width: 100px;
        height: 50px;
    }
    .navLinks{
        width: 100vw;
    }
}

.navLinks li{
    display: inline-block;
    padding: 0px 30px;
}

.navLinks li a:hover {
    color: #FF6A00;
}

.navActive{
    transform: translateX(0);
}
.buttonNavToggle{
    width: 20px;
    height: 30px;
    cursor: pointer;
}