@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Oswald&family=Roboto+Condensed:wght@100&display=swap');

.ContainerInfoView {
    flex: 1;
    background-color: #1F355B;
    display: flex;
    align-items: center;
}

.sectionContacto {
    padding: 10px;
    text-align: center;
}

.sectionContacto form h2{
    color: white;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 10px;
}

.sectionContacto input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #00445f;
    color: rgb(102, 102, 102);
}

.sectionContacto input:focus,
.sectionContacto textarea:focus {
    outline: none;
}

.sectionContacto textarea {
    width: 100%;
    resize: vertical;
    padding: 10px;
    border: 1px solid #00445f;
    color: rgb(102, 102, 102);
}

.sectionContacto button {
    margin-top: 10px;
    width: 100%;
    background: #009EDB;
    padding: 7px;
    color: white;
    border: none;
}

@media (max-width:768px){
    .sectionContacto textarea, .sectionContacto input, .sectionContacto button {
        width: 80%;
    }
}

.sectionContacto button:hover {
    background: #006c97;
}

.rrss img{
    width: 20px;
    margin: 20px;
    cursor: pointer;
}
