.containerMap{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.map{
    width: 60vw;
    height: 70vh;
    position: relative;
}
.button-geolocation{
    position: absolute;
    border: 0px;
    background-color: white;
    color: rgb(90, 90, 90);
    font-size: 25px;
    right: 10px;
    bottom: 120px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
}
.button-geolocation:hover{
    color: black;
}

@media (max-width:768px){
    .map{
        width: 80vw;
    }
}

@media (max-width:600px){
    .map{
        width: 90vw;
    }
}


