@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Roboto+Condensed:wght@100&display=swap');

* {
    list-style: none;
    text-decoration: none;
}

.headerSideBar {
    background-color: #1E2D4A;
    flex: 1;
}

.headerSideBar .logoBox{
    height: 60px;
}

.openNav{
    display: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border: none;
    font-size: 1.2rem;
    background-color: white;
    color: white;
    border-radius: 50px;
    color: black;
}

.openNav:hover{
    background-color: #90b083;
    color: white;
}

.logoBox {
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 5px #162136;
    background-color: #1F355B;
    justify-content: center;
    padding: 10px;
}

.logoBox h2 {
    margin-left: 10px;
    color: #B7C7DC;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
}

.navSideBar ul a {
    display: flex;
    align-items: center;
    font-size: 16px;
    width: 100%;
    padding-left: 25px;
    line-height: 60px;
    color: white;
    border-bottom: 1px solid black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navSideBar ul li:hover a{
    padding-left: 30px;
    transition: .2s;
}

.iconsClose {
    display: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 20px 0px 20px 30px;
    border: none;
    font-size: 1.2rem;
}

@media (max-width:768px) {
    .openNav{
        display: block;
        position: absolute;
        right: 0;
    }

    .logoBox {
        position: relative;
        justify-content: left;
    }

    nav ul {
        display: flex;
        position: fixed;
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        z-index: 1;
        transform: translateX(100%);
        transition: 0.5s ease;
        background-color: #1E2D4A;
    }

    .iconsClose{
        display: block;
    }

    .iconsClose:hover{
        transition: none;
        padding: 0px;
        background-color: #90b083;
        color: white;
    }
}

.navActive {
    transform: translateX(0);
}
